# Dependencies
node_modules

# Build
dist

# TypeScript
*.tsbuildinfo

# Drizzle
.migrations

# Environment
.env
.env.local
.env.development
.env.production

# Docker
docker-compose.yml
docker-compose.yaml

# Logs
*.log

# Editor
.idea
.vscode

# Other
Thumbs.db
.DS_Store